{deps, [
        {gproc, {git, "https://github.com/uwiger/gproc.git", {branch, "master"}}}
       ]
}.

{shell, [
         {apps, [enet]}
        ]}.

{profiles,
 [
  {test, [
          {deps, [
                  {proper, "1.3.0"}
                 ]},
          {erl_opts, [debug_info]},
          {shell, [
                   {apps, [enet, proper]}
                  ]}
         ]}
 ]}.

{plugins, [
  erlfmt
]}.

{erlfmt, [
    {files, "{src,include,test}/*.{erl,esh}"},
    {print_width, 79}
]}.

